#Footer {
  padding: 30px;
  background-color: #EFF2F7;
  color: #642079;
}

#Footer a {
  color: #642079 !important;
}

@media screen and (min-width: 768px) {
  #Footer{
    text-align: left;
  }
}

#Footer a {
  color: white;
  text-decoration: underline;
}
