#Footer {
  padding: 30px;
  background-color: #702632;
  color: white;
}

#Footer a {
  color: white !important;
}

#Footer h5 {
  color: white !important;
}

@media screen and (min-width: 768px) {
  #Footer{
    text-align: left;
  }
}

#Footer a {
  color: white;
  text-decoration: underline;
}
